#links{
  background-color: #D6B699;
  padding: 19px;
}
.link{
  text-decoration: none;
  font-size: 4.5mm;
  margin-left: 70px;
  color: #2B1F13;
  margin-right: 30px;
  font-family: sans-serif;
  text-shadow: 1px 2px 3px white;
}
 #cadas{  
   padding: 7px; 
   background-color: #D6B699;
   border-radius: 9px;
 }
.ini{
  color: #2B1F13;
  font-family: sans-serif;
  font-size: 4.2mm;
  margin-left: 10px;
}
.nome{
  margin-top: 55px;
  font-size: 10mm;
  color: #2B1F13;
  margin-left: 170px;
  font-family: sans-serif;
  text-shadow: 1px 2px 3px #D6B699;
}
 img{
  margin-top: 25px;
  text-align: center;
  height: 600px;
  width: 1000px;
  margin-left: 170px;
  opacity: 75%;
  border-radius: 5px;
 }
#oi{ 
  text-align: right;
}
#loc{
  margin-left: 170px;
}
.rodape{
  background-color:#D6B699;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.art_sec{
  width: 50%;
  margin-bottom: 20px;
  text-shadow: 1px 2px 2px #2B1F13;
}
#nome1{
  margin-top: 55px;
  font-size: 10mm;
  color: #2B1F13;
  margin-left: 90px;
  font-family: sans-serif;
}

#logo {
  margin-left: 0;
  margin-top: 0;
  width: 30px;
  height: 30px;
}
